# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.设计模式篇004-原型模式.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
