@using Microsoft.AspNetCore.Mvc.Localization
@using Abp.Albert.Bussiness.Localization
@inject IHtmlLocalizer<BussinessResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
